/* start Global rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* end Global rules */


/*start header*/
header {
    box-shadow: 10px 10px 20px 0px #eee;
}

header .container {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

}

header .logo {
    font-size: 25px;
    font-weight: 700;
    scale: 1.2;
    color: var(--main-color);
}

header .header-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

header .header-links > li:hover > a {
    color: var(--main-color);
    background-color: #eeeeee;
}

header .header-links li a {
    text-decoration: none;
    color: unset;
    font-size: 19px;
    padding: 20px 30px;
    display: block;
    position: relative;
}

header .header-links li a:before {
    content: " ";
    width: 0;
    position: absolute;
    height: 4px;
    background: var(--main-color);
    left: 0;
    top: 0;
    transition: all .5s;
}

header .header-links li:hover a:before {
    width: 100%;
}

.showOtherLinks:hover .otherLinks {
    opacity: 1;
    top: 103%;
    z-index: 100;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;

    }

    header .container ul {
        padding: 0;
        justify-content: space-between;
    }

    header .container ul li a {
        font-size: 13px;
        padding: 20px 15px;
    }

}


/* start  other links */
header .container {
    position: relative;
}

header .container .otherLinks {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 140%;
    width: 100%;
    display: flex;
    padding: 35px;
    border-bottom: 5px solid var(--main-color);
    transition: all 0.5s;
    z-index: -1;
}

header .container .otherLinks .image {
    display: flex;
    align-items: center;
}

header .container .otherLinks .image img {
    max-width: 100%;
    display: block;
}

header .container .otherLinks ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    min-width: 300px;
}

header .container .otherLinks ul li {
    border-bottom: 1px solid #eee;
    position: relative;

}

header .container .otherLinks ul li a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

header .container .otherLinks ul li a:before {
    content: " ";
    width: 0;
    position: absolute;
    height: 100%;
    background: #eee;
    z-index: -1;
    left: 0;
    top: 0;
    transition: all .5s;
}

header .container .otherLinks ul li:hover a:before {
    width: 100%;
}

@media (max-width: 990px) {
    header .container .otherLinks {
        flex-direction: row;
    }

    header .container .otherLinks ul {
        min-width: 50%;
    }

    header .container .otherLinks .image {
        display: none;
    }
}

@media (max-width: 768px) {
    header .container .otherLinks {
        flex-direction: column;
    }
}

/*end  header*/


/* start home */
.home {
    position: relative;
    height: calc(100vh - 62px);
    background-image: linear-gradient(-6deg, #fff 20%, #eee 20%, #eee 100%);
}

.home .container {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 75%;
    justify-content: center;
}

.home .container .image img {
    width: 600px;
    animation: animate-image 2s infinite ease-in-out alternate;
}

.home .container .content h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

.home .container .content p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@keyframes animate-image {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }

}

@media (max-width: 990px) {
    .home .container .image {
        display: none;
    }

}

.home > a {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    animation: bounce 1.2s infinite;

}

.home > a i {
    font-size: 1.7em;
}

@keyframes bounce {
    0%, 10%, 20%, 30%, 50%, 70%, 80%, 90%, 100% {
        transform: translateY(10px);
    }
    40%, 60% {
        transform: translateY(0px);

    }
}

/* end home */


/*start component */
.component {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.component .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.component .container .content h3 {
    margin: 0;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    transition: all var(--main-transition);
}

.component .container .content h3:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: all .5s;
}

.component .container .content h3:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
    position: absolute;
}

.component .container .content h3:hover {
    color: white;
    transition-delay: .4s;
}

.component .container .content h3:hover:before {
    animation: animate-component-before 1s forwards;
    z-index: -1;

}

.component .container .content h3:hover:after {
    animation: animate-component-after 1s forwards;
    z-index: -1;
}

@keyframes animate-component-before {
    50% {
        left: 0;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes animate-component-after {
    50% {
        right: 0;
    }
    100% {
        right: 0;
        width: 50%;
        border-radius: 0;
        height: 100%;
    }
}

/*end component */


/*start articles*/

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px 20px;
}

.articles .container .card {
    box-shadow: 8px 6px 14px 12px #eee;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all var(--main-transition);
}

.articles .container .card:hover {
    top: -10px;
}

.articles .container .card .head img {
    max-width: 100%;
}

.articles .container .card .content {
    padding: 0 10px;
}

.articles .container .card .content h3 {
    margin: 0;
    padding: 20px 10px;
    font-size: 20px;
}

.articles .container .card .content .body {
    margin: 10px 0 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
    color: #777;
}

.articles .container .card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-color);
    padding: 24px 20px;
}

.articles .container .card .footer .left a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}

.articles .container .card .footer .right i {
    font-size: 14px;
}

.articles .container .card:hover .footer .right i {
    animation: animate-card-arrow 1s infinite;
}

@keyframes animate-card-arrow {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0px);
    }

}

/*end articles*/


/*start gallery*/
.gallery {
    margin-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);

    position: relative;
}

.gallery::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--section-background);
    background-image: linear-gradient(135deg, white 20%, transparent 20%, transparent), linear-gradient(225deg, white 20%, transparent 20%, transparent);
    background-size: 39px 57px;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px 20px;
}

.gallery .container .img {
    border: 20px solid white;
    background: white;
    overflow: hidden;
    position: relative;
}

.gallery .container .img img {
    max-width: 100%;
}

.gallery .container .img:hover:before {
    animation: gallery-animate .3s ease-in-out;
}

.gallery .container .img:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.gallery .container .img:hover img {
    transform: scale(1.1);
    rotate: 5deg;
    transition: all var(--main-transition);
}

@keyframes gallery-animate {
    0% {
        scale: 0;
        z-index: 1;

    }
    100% {
        z-index: 1;
        scale: 1;
    }
}

/*end gallery*/

/*start features*/
.features {
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.features .container .feature {
    border: 1px solid #666;
}

.features .container .feature .img {
    display: block;
    position: relative;
    overflow: hidden;
}

.features .container .feature .img:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}


.features .container .feature1 .img:before {
    background-color: rgba(244, 64, 54, 60%);
}

.features .container .feature2 .img:before {
    background-color: rgba(0, 150, 136, 60%);;
}

.features .container .feature3 .img:before {
    background-color: rgba(3, 169, 244, 60%);;
}

@property --background-image-degree {
    syntax: "<angle>";
    initial-value: 339deg;
    inherits: false;
}


.features .container .feature .img:after {
    position: absolute;
    content: " ";
    border-width: 200px 500px 0px 0px;
    border-color: transparent white white transparent;
    border-style: solid;
    left: -12px;
    z-index: 2;
    bottom: 0;
    transition: border-width .5s;
}

.features .container .feature:hover .img:after {
    border-width: 150px 0px 0px 500px;
    border-color: transparent transparent white white;
}

.features .container .feature .content h3 {
    position: relative;
    text-align: center;
    font-size: 39px;
    padding-bottom: 10px;
}

.features .container .feature .content h3:before {
    content: "";
    position: absolute;
    left: 25%;
    top: 100%;
    width: 50%;
    height: 5px;
    background-color: var(--main-color);
}

.features .container .feature .content .body {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
    text-align: center;
}

.features .container .feature .img img {
    max-width: 100%;
    z-index: -1;
}

.features .container .feature .footer {
    padding: 30px;
    text-align: center;
    margin-bottom: 32px;
}

.features .container .feature .footer a {
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 10px;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    position: relative;
    z-index: 2;

}

.features .container .feature1 .footer a {
    color: #f44036;
    border: 5px solid #f44036;

}

.features .container .feature2 .footer a {
    color: #009688;
    border: 5px solid #009688;

}

.features .container .feature3 .footer a {
    color: #03a9f4;

    border: 5px solid #03a9f4;

}

.features .container .feature .footer a:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 0;
    left: 0;
    top: 0;
    height: 100%;
    transition: all var(--main-transition);

}

.features .container .feature:hover .footer a {
    color: white;
}


.features .container .feature:hover .footer a:before {
    width: 100%;
}

.features .container .feature1:hover .footer a:before {
    background-color: #f44036;
}

.features .container .feature2:hover .footer a:before {
    background-color: #009688;
}

.features .container .feature3:hover .footer a:before {
    background-color: #03a9f4;
}


@media (max-width: 990px) {
    .features .container .feature .img img {
        width: 100%;
    }

    .features .container .feature .img:after {
        border-width: 200px 800px 0px 0px;
        border-color: transparent white white transparent;
    }

    .features .container .feature:hover .img:after {
        border-width: 170px 0px 0px 800px;
        border-color: transparent transparent white white;
    }

}

/*end features*/

/*start testimonials*/
.testimonials {
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;

}

.testimonials .container .testimonial {
    position: relative;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
    background-color: white;
    border-radius: 6px;
}

.testimonials .container .testimonial .image {
    position: absolute;
    right: -23px;
    top: -80px;
    background: var(--section-background);
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials .container .testimonial .image img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    text-align: center;
}

.testimonials .container .testimonial h3 {
    margin: 0 0 10px;
}

.testimonials .container .testimonial p {
    color: #777;
    font-size: 16px;
}

.testimonials .container .testimonial .rate {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffc107;
}

/*end testimonials*/


/*start teams*/
.teams {
    padding-bottom: var(--main-padding-bottom);
}

.teams .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.teams .container .team-member {
    display: flex;
    flex-direction: column;
    background-color: var(--section-background);
    border-radius: 6px;
    padding-top: 50px;
    margin-left: 45px;
    margin-right: 30px;
    position: relative;
    transition: var(--main-transition);
}

.teams .container .team-member .data {
    display: flex;
}

.teams .container .team-member .data > img {
    width: calc(121% - 60px);
    margin-left: -45px;
    border-radius: 15px;
}

.teams .container .team-member .data .footer {
    padding: 20px;
}

.teams .container .team-member .data .footer h2 {
    color: var(--main-color);
}

.teams .container .team-member .social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
}

.teams .container .team-member .social a {
    z-index: 3;
    color: #666;
    transition: var(--main-transition);
}

.teams .container .team-member .footer {
    padding: 12px;
    margin-bottom: -8px;
}

.teams .container .team-member .footer h2 {
    color: var(--main-color);
    margin-bottom: 0px;
}

.teams .container .team-member .social a:hover {
    color: var(--main-color);
}

.teams .container .team-member:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 6px;
    z-index: 3;
    background-color: rgba(101, 87, 87, 0.35);
    transition: var(--main-transition);

}

.teams .container .team-member:hover .data > img, .teams .container .team-member:hover .footer {
    filter: grayscale(1);
}

.teams .container .team-member:hover:before {
    width: 100%;
}

/*end teams*/


/*start services*/
.services {
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.services::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: var(--section-background);
    background-image: linear-gradient(135deg, white 20%, transparent 20%, transparent), linear-gradient(225deg, white 20%, transparent 20%, transparent);
    background-size: 39px 57px;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.services .container .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 8px 6px 14px 12px #eee;
    transition: var(--main-transition);
    position: relative;
    overflow: hidden;
    height: 227px;
}

.services .container .service:hover {
    transform: translateY(-10px);
}

.services .container .service:before, .services .container .service:after {
    content: " ";
    position: absolute;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.services .container .service:hover:after {
    width: 50%;
}

.services .container .service:hover:before {
    left: 0;
    width: 50%;
}

.services .container .service .icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 45px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.services .container .service .icon i {
    color: #c8c8c8;
}

.services .container .service .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.services .container .service .footer:before {
    content: "";
    position: absolute;
    left: -37px;
    top: 0;
    width: 35%;
    height: 100%;
    background-color: var(--main-color);
    transform: skew(-30deg);
}

.services .container .service .footer:after {
    content: "";
    position: absolute;
    left: 24%;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: var(--section-background);
    transform: skew(-30deg);
}

.services .container .service .footer .number {
    color: white;
    padding-left: 13px;
    font-size: 25px;
    position: relative;
}

.services .container .service .footer .number h3 {
    margin: 6px;
}

.services .container .service .footer .details a {
    text-decoration: none;
    padding-right: 14px;
    color: var(--main-color);
}

/*end services*/

/*start skills*/
.skills {
    padding-bottom: var(--main-padding-bottom);
}

.skills .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills .container .our-skills {
    width: 60%;

}

.skills .container .our-skills h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.skills .container .our-skills > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 0;

}

.skills .container .our-skills .skill-content {
    width: 100%;
}


.skills .container .our-skills .skill-content h4 {
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.skills .container .our-skills .skill-content .progress {
    width: 100%;
    height: 30px;
    background-color: #dedadc;
    position: relative;
    margin-bottom: 20px;
}

.skills .container .our-skills .skill-content .progress .percent {
    width: 90%;
    position: relative;
    top: 0;
    height: 100%;
    background: var(--main-color);
}

.skills .container .our-skills .skill-content .progress:before {
    position: absolute;
    content: attr(data-progress);
    background: transparent;
    right: 0;
    color: var(--main-color);
    padding: 5px;
    border-radius: 9px;
    top: -40px;
    font-size: 13px;
    font-weight: bold;
    border: 2px solid var(--section-background);
}

@media (max-width: 990px) {
    .skills .container > img {
        display: none;
    }

    .skills .container .our-skills {
        width: 100%;

    }

    .skills .container .our-skills .skill-content {
        width: 100%;

    }
}

/*end skills*/

/*start works*/
.works {
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.component {
    z-index: 1;
    position: relative;
}

.works > .container {
    display: flex;
    justify-content: space-between;
    gap: 107px;
    align-items: center;
}

.works > .container > img {
    max-width: 100%;
}

.works > .container .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.works > .container .cards .card {
    display: flex;
    background-color: #f6f5f5;
    justify-content: center;
    gap: 30px;
    align-items: center;
    padding: 20px;
    border: 3px solid white;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

.works > .container .cards .card .img {
    text-align: center;
    width: 25%;
    z-index: 1;
}

.works > .container .cards .card .img img {
    width: 64px;
}

.works .container .cards .card .card-content {
    z-index: 1;

}

.works > .container .cards .card .card-content h3 {
    text-transform: capitalize;
}

.works .container .cards .card .card-content p {
    color: #777;
    line-height: 2;
    margin-top: 0;
}

.works .container .cards .card:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    scale: 0;
    background-color: #ededed;
    transition: var(--main-transition);
}

.works .container .cards .card:hover:before {
    scale: 1;
}


@media (max-width: 990px) {
    .works > .container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .works > .container .cards .card {
        flex-direction: column;

    }


}

/*end works*/

/*start events*/
.events {
    position: relative;
    padding-bottom: var(--main-padding-bottom);
}

.events .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .container .event-details {
    display: flex;
    justify-content: center;
}

.events .container .event-details > img {
    width: 400px;
}

.events .container .event-details .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.events .container .event-details .details .head {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.events .container .event-details .details .head > div {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}

.events .container .event-details .details .head > div > h3 {
    font-size: 30px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

.events .container .event-details .details .head > div > p {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    text-align: center;
    margin: 0;
}

.events .container .event-details .details .bottom {
    text-align: center;
}

.events .container .event-details .details .bottom h2 {
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}

.events .container .event-details .details .bottom p {
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}

.events .container > .footer {
    width: 578px;
    max-width: 100%;
    text-align: center;
    height: 120px;
    background: var(--section-background);
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.events .container > .footer input {
    width: 70%;
    height: 63%;
    padding: 20px;
    border-radius: 33px;
    border: none;
}

.events .container > .footer button {
    height: 63%;
    padding: 20px;
    border-radius: 39px;
    border: none;
    background: var(--main-color);
    color: white;
    font-weight: bold;
}

@media (max-width: 990px) {

    .events .container .event-details > img {
        display: none;
    }
}

.events:before {
    content: "";
    position: absolute;
    left: 0;
    top: 60%;
    width: 204px;
    height: 186px;
    background-image: url('../images/dots.png');
}

.events:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    width: 204px;
    height: 186px;
    background-image: url('../images/dots.png');
}

@media (max-width: 768px) {
    .events .container > .footer {
        flex-direction: column;
        padding: 20px;
        border-radius: 0;
        height: 153px;
    }

    .events .container > .footer input {
        width: 90%;
        padding: 20px;
        border-radius: 0;
    }

    .events .container > .footer button {
        width: 90%;
        padding: 20px;
        margin: -7px;
        border-radius: 0;
    }
}

/*end events*/

/*start plans */
.plans {
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.plans:before {
    content: "";
    position: absolute;
    left: 0;
    top: 60%;
    width: 204px;
    height: 186px;
    background-image: url('../images/dots.png');
}

.plans:after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    width: 204px;
    height: 186px;
    background-image: url('../images/dots.png');
}

.plans > .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.plans > .container .plan {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    text-align: center;
    z-index: 1;
    position: relative;
}

.plans > .container .popular-plan {
    transform: translateY(-20px);
}

.plans > .container .plan .popular-logo {
    position: absolute;
    left: 0;
    top: 0;
}

.plans > .container .plan > h2 {
    text-align: center;
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}

.plans > .container .plan > img {
    width: 100px;
    display: block;
    text-align: center;
}

.plans > .container .plan .price h3 {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-color);
    margin-top: 25px;
}

.plans > .container .plan .price p {
    color: #777;
    text-align: center;
    margin-top: 0;
}

.plans > .container .plan ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: flex-start;
    width: 100%;
}

.plans > .container .plan ul li {
    text-align: left;
    padding: 20px;
    padding-left: 0;
    border-top: 1px solid #eee;
}

.plans > .container .plan ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.plans > .container .plan .footer button {
    padding: 20px;
    border: 2px solid var(--main-color);
    background-color: white;
    border-radius: 20px;
    color: var(--main-color);
    font-weight: bold;
}

.plans > .container .plan .popular-logo {
    padding: 10px;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 21px;
    position: absolute;
    left: 65%;
    top: 63px;
    width: 169px;
    transform: rotate(90deg);
}

.plans > .container .plan .popular-logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: -32px;
    height: 0;
    width: 0;
    border-width: 22px 16px;
    border-style: solid;
    border-color: var(--main-color) white var(--main-color) var(--main-color);
    background: var(--main-color);
}

.plans > .container .plan:before, .plans > .container .plan:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 50%;
    background: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}

.plans > .container .plan:before {
    left: 0;
    top: 0;
}

.plans > .container .plan:after {
    right: 0;
    top: 50%;
}

.plans > .container .plan:hover:before, .plans > .container .plan:hover:after {
    width: 100%;
}

/*end plans */

/*start videos*/
.videos {
    padding-bottom: var(--main-padding-bottom);
}

.videos > .container {
    display: flex;
    justify-content: center;
}

.videos > .container .list-videos {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-left: 1px solid var(--section-background);
    border-right: 1px solid var(--section-background);
    border-bottom: 1px solid var(--section-background);
}

.videos > .container .list-videos .head {
    display: flex;
    justify-content: space-between;
    background: var(--section-background);
    padding: 10px;
}

.videos > .container .list-videos .head h4 {
    margin: 0;
}

.videos > .container .list-videos .head i {
    padding: 11px;
}

.videos > .container .list-videos > .content .video-title {
    padding: 10px 0px;
}

.videos > .container .list-videos > .content h5 {
    padding: 10px;
    cursor: pointer;
    transition: var(--main-transition);
    margin: 0;
    font-size: 17px;
    font-weight: normal;
}

.videos > .container .list-videos > .content p {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--section-background);
}

.videos > .container .list-videos > .content .video-title:last-child p {
    border-bottom: none;

}

.videos > .container .video-content {
    padding: 10px;
    background: var(--section-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos > .container .video-content img {
    max-width: 100%;
}

.videos > .container .video-content p {
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}

@media (max-width: 990px) {
    .videos > .container {
        flex-direction: column;
    }
}

/*end videos*/
/*start states*/
.states {
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
    background-image: url("../images/stats.jpg");
    background-size: cover;
    position: relative;
}

.states:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .9;
}

.states .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.states .container > h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
}

.states .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 20px;
}

.states .container .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px;
    position: relative;

}

.states .container .cards .card:before, .states .container .cards .card:after {
    content: "";
    position: absolute;

    width: 2px;
    background-color: var(--main-color);
    height: 0;
    transition: 1s;
}

.states .container .cards .card:before {
    left: 0;
    bottom: 0;
}

.states .container .cards .card:after {
    right: 0;
    top: 0;
}

.states .container .cards .card:hover:before, .states .container .cards .card:hover:after {
    height: 100%;
}

.states .container .cards .card > h2 {
    font-size: 50px;
    margin: 7px;
}

.states .container .cards .card > p {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

/*end states*/

/*start discount*/
.discount {
    display: flex;
    min-height: 100vh;

}

.discount .left {
    flex-basis: 50%;
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 50px;
    text-align: center;

}

.discount .left:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .98;
}

.discount .left .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.discount .left h2 {
    font-size: 40px;
    position: relative;
    z-index: 1;
    color: white;
}

.discount .left p {
    position: relative;
    z-index: 1;
    color: white;
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .left img {
    position: relative;
    z-index: 1;
    width: 300px;
}

.discount .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    padding-bottom: 30px;
}

.discount .right h2 {
    font-size: 32px;
}

.discount .right form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.discount .right form input, textarea {
    width: 324px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    resize: none;
}

.discount .right form input:focus, .discount .right form textarea:focus {
    outline: none;
    caret-color: var(--main-color);
}

.discount .right button {
    padding: 20px;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    border: none;
}

@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
}

/*end discount*/

/*start footer */
footer {
    background-color: #191919;
    padding: 70px 0 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
footer .container .item1 h2 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
footer .container .item1 .social {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 10px 0;

}
footer .container .item1 .social li {
    width: 50px;
    height: 50px;
    display: flex;
    background: #313131;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}
footer .container .item1 .social .facebook:hover {
    background-color: #1877f2;
}
footer .container .item1 .social .twitter:hover {
    background-color: #1da1f2;
}
footer .container .item1  .social .youtube:hover {
    background-color: #ff0000;
}

footer .container .item1 .social li a {
    color: #b9b9b9;
    font-size: 22px;
}
footer .container .item1 p {
    line-height: 2;
    color: #b9b9b9;
}
footer .container .item2 ul  {
    list-style: none;
    margin: 0;
    padding: 0;

}
footer .container .item2 ul li {
    padding: 15px 0;
    border-bottom: 1px solid #444;
}

footer .container .item2 ul li a {
    text-decoration: none;
    color: #b9b9b9;
    transition: var(--main-transition);

}
footer .container .item2 ul li a:before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .container .item2 ul li a:hover {
    color: white;
    margin-left: 10px;
}
footer .container .item3 .item {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
    gap: 15px;
}
footer .container .item3 .item i {
    font-size: 25px;
    color: var(--main-color);
}
footer .container .item3 .item span {
    line-height: 1.7;
}

footer .container .item4 img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
footer > p {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
@media (max-width:768px) {
    footer .container {
        text-align: center;
    }
    footer .container .item1 .social {
        justify-content: center;
    }
    footer .container .item3 .item {
        flex-direction: column;
    }
    footer .container .item4 {
        text-align: center;
    }


}
/*end footer */






